.Main {
  padding: 20px;
}

.main-container {
  margin: auto;
  margin-block-end: 40px;
}

h1 {
  /* font-weight: 100; */
  color: aliceblue;
  text-align: center;
  padding-bottom: 10px;
  /* mix-blend-mode: difference; */
}

@media (min-width: 800px) {
  .Main {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
  }
  .main-container {
    min-width: 60%;
    margin: inherit;
  }
}
