.Header {
  color: white;
  padding-top: 3rem;
  font-size: 1.3rem;
  /* max-width: 80%; */
  margin: auto;
}

@media (max-width: 800px) {
  .title-wrapper {
    max-width: 80%;
    margin: auto;
  }
}
