.Footer {
  background-color: black;
  color: white;
  padding: 20px;
}

.Footer-footer {
  height: 3vw;
}

.Footer-list {
  display: flex;
}

.Footer-item {
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
