.color-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-inline-start: 0px;
  padding-block-end: 20px;
}

.color-item {
  color: #666;
  background-color: aliceblue;
  display: flex;
  justify-content: space-around;
  align-items: center;
  outline: 1px solid black;
  padding: 10px;
  width: 70%;
  margin-block-end: 20px;
}

.color-heart {
  height: 8rem;
  width: 8rem;
}

.heart {
  /* background-color: red; */
  display: inline-block;
  height: 30px;
  margin: 0 10px;
  position: relative;
  top: 0;
  transform: rotate(-45deg);
  width: 30px;
}

.heart:before,
.heart:after {
  content: "";
  /* background-color: red; */
  border-radius: 50%;
  height: 30px;
  position: absolute;
  width: 30px;
}

.heart:before {
  top: -15px;
  left: 0;
}

.heart:after {
  left: 15px;
  top: 0;
}

.color-box {
}

.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.color-info-container {
}
