.color-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-inline-start: 0px;
  padding-block-end: 20px;
}

.color-item {
  color: #666;
  background-color: aliceblue;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  margin-block-end: 20px;
}

.color-flex-item {
  margin-inline-end: 5px;
}

.color-flex-item:last-child {
  margin-inline-end: 0px;
}

.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 770px) {
  .color-heart-container {
  }
}
