.App {
  text-align: center;
  /* background: repeating-linear-gradient(
    #e66465,
    #e66465 20px,
    #e9ca4e 20px,
    #e9ca4e 25px
  ); */
  margin: 0 auto;
  font-family: "Courier New", Courier, monospace;
}
